
.header{
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  display: inline;
}

.pagename{
  width: 600px;
  height: 50px;
  padding-left: 10px;
  padding-top: none;
}

.h1 {
  height: 50px;
  width: 30%;
  font-size: 40px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-style: thin;
  font-weight: 100;
  letter-spacing: 4px;
  text-decoration: none;
  text-decoration-color: black;
  color: rgb(156, 149, 138);
}

h1 :visited{
  text-decoration: none;
  color: rgb(156, 149, 138);
}

h1 :active{
  text-decoration: none;
  color: rgb(156, 149, 138);
}

.topnav a{
  float: right;
  display: inline;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  letter-spacing: 2px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid rgb(156, 149, 138);
}

.topnav a.active {
  border-bottom: 3px solid rgb(156, 149, 138);
}

.main {
  width: 100%;
  height: auto;
}

h2 {
  padding-top:200px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 4px;
  color: rgb(156, 149, 138);
}

.homebanner{
  padding-top: 150px;
  padding-bottom: 5px;
}

.aboutme{
  padding-top: 10px;
}

.education{
  width: 450px;
  float: left;
  padding-top: 40px;
  padding-left: 200px;
}

.edtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: rgb(156, 149, 138);
}

.edblurb{
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  line-height: 35px;
}

.seeking{
  width: 450px;
  float: right;
  padding-top: 40px;
  padding-right: 200px;
}
 
.seekingtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: rgb(156, 149, 138);
}
 
.seekingblurb{
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  line-height: 35px;
}

.resume{
  padding-top: 400px;
}

.resumeimg{
  display: block;
  margin-left: 22%;
  margin-right: 22%;
  width: 54%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.linkedin{
  padding-top: 80px;
  padding-bottom: 20px;
}

.linkedinbutton{
  display: block;
  margin-left: 46%;
  margin-right: 46%;
  height: 100px;
  width: auto;
}

.linkedinsection{
  padding-bottom: 80px;
}

.footer{
  background-color: black;
  position: absolute;
  margin-top: 10%;
  height: 100px;
  width: 100%;
}

.built{
  display: block;
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;;
  font-size: 16px;
  color: rgb(104, 99, 92);
}

.holdbanner{
  padding-top: 150px;
  padding-bottom: 5px;
}

.grcbannerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}
  
.peonybannerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.re-tailorlogoimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.re-tailorcards1img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.re-tailorcards2img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.re-tailorpostimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.re-tailorsiteimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.presentation{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.veganvalleylogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.veganvalleymap{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactme{
  width: 400px;
  display: inline;
  float: left;
  padding-top: 100px;
  padding-left: 220px;
}
 
.hi{
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  font-weight: 100;
  color:black
}

.sendme{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 100;
  color:black
}
 
.gmail{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 35px;
  padding-top: 20px;
  text-decoration: none;
  color: rgb(156, 149, 138);
}

.edu{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 35px;
  text-decoration: none;
  color: rgb(156, 149, 138);
}

.imgcontactme{
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 20px;
  float: right;
}

.divider{
  margin: 25%;
  height: 1px;
}


