
.header{
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  display: inline; 
}

h1 {
  height: 50px;
  width: 30%;
  font-size: 40px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-style: thin;
  font-weight: 100;
  letter-spacing: 4px;
  color: rgb(156, 149, 138);
}

.topnav a {
  float: right;
  display: inline;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  letter-spacing: 2px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid rgb(156, 149, 138);
}

.topnav a.active {
  border-bottom: 3px solid rgb(156, 149, 138);
}

.main {
  width: 100%;
  height: auto;
}

h2 {
  padding-top: 250px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 4px;
  color: rgb(156, 149, 138);
}

.homebanner{
  padding-top: 20px;
  padding-bottom: 5px;
}

.aboutme{
  padding-top: 10;
}

.education{
 width: 450px;
 float: left;
 padding-top: 40px;
 padding-left: 200px;
}

.edtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: rgb(156, 149, 138);
}

.edblurb{
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  line-height: 35px;
}

.seeking{
  width: 450px;
  float: right;
  padding-top: 40px;
  padding-right: 200px;
}
 
.seekingtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: rgb(156, 149, 138);
}
 
.seekingblurb{
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  line-height: 35px;
}

.grcbannerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}
  
.peonybannerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgcontactme{
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 20px;
  float: right;
}


